@model IEnumerable<CRUD_AspNetCore5.Models.Question>

@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Questions List</h1>

<p style="text-align:right; margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="AddOrEdit">Create New</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
                <th></th>
                <th>Edit</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td></td>
                    <td class="text-center">
                        <a asp-action="AddOrEdit" class="btn btn-outline-primary" asp-route-questionId="@item.Id">Edit</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-questionId="@item.Id">Details</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-questionId="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>